{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "rules": {
    "prettier/prettier": ["error"],
    "no-console": "off",
    "no-unused-vars": [1, { "args": "after-used", "ignoreRestSiblings": true }],
    "quotes": [1, "double", { "allowTemplateLiterals": true }],
    "semi": [1, "never"],
    "comma-dangle": [1, "only-multiline"],
    "consistent-return": [0],
    "import/no-unresolved": false,
    "import/no-extraneous-dependencies": false,
    // "import/no-internal-modules": [1],
    "import/prefer-default-export": false,
    "import/no-named-default": false,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-curly-brace-presence": [1, "ignore"],
    "react/prop-types": [1, { "skipUndeclared": true }],
    "react/jsx-props-no-spreading": false,
    "react/jsx-fragments": [1, "element"],
    "jsx-a11y/anchor-is-valid": false
  }
}
