# Env
.env

# Package management
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules

# Logs
*.log

# Documentation
.next
.mdx-data

# Build files
dist
storybook-static

# Mac OS
.DS_Store