# Env
.env

# Package management
node_modules
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Logs
*.log

# Documentation
.next
.mdx-data

# Build files
dist
.now
storybook

# System
.DS_Store